<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="lib/onsen/css/onsenui.css"/>
    <link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css"/>
    <link rel="stylesheet" href="lib/css/custom.css"/>
	
   <script type="text/javascript" src="cordova.js"></script>
    <script src="lib/js/angular.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>
    <script src="lib/onsen/js/angular-onsenui.js"></script>

    <script src="lib/js/jquery.js"></script>
    <script src="lib/js/data.js"></script>
	  <script src="lib/js/main.js"></script>

	

  </head>

  <body ng-app="goteam">

  	<!-- <ons-navigator var="myNavigator" page="pages/login.html"></ons-navigator>  -->


<ons-page>

 <!--drawer  navigation-->
  <ons-splitter  var="mySplitter" ng-controller="SplitterController as splitter">
    <ons-splitter-content page="pages/login.html"></ons-splitter-content>
  </ons-splitter>
  <!--end drawer  navigation-->
  

  <!--dialog-->
  <ons-alert-dialog var="alertDialog" direction="up">
    <div class="alert-dialog-content">
    </div>
    <div class="alert-dialog-footer">
      <button class="alert-dialog-button" ng-click="alertDialog.hide()">CLOSE</button>
      <button class="alert-btn-confirm alert-dialog-button" style="display:none" ng-click="alertDialog.hide()" >YES</button>
      <button class="alert-btn-confirm-refresh alert-dialog-button" style="display:none" onclick="location.reload();" >YES</button>
    </div>
  </ons-alert-dialog>
  <!--end dialog-->
</ons-page>


  </body>
</html>