
<ons-page id="main.html">

	 <!--drawer  navigation-->
  <ons-splitter  var="mySplitter" ng-controller="SplitterController as splitter">
    <ons-splitter-side side="left" width="80%" collapse swipeable>
      <ons-page>
        <!--nav user profile-->
        <div style="background:#1e1e1e;padding: 10% 10px 10px;height:10%;color:#fff;margin-bottom:10px">
          <div class="left" >
                <div class="profile-image" style="background: #673ab7;float:left;margin-right:10px">K</div>
              </div>
          <div class="center" style="margin-top: 10px;">
                <span class="list-item__title" style="display:block">Koo Vergara</span>
                <span class="list-item__subtitle" style="font-size:10px">kcvergara@straightarrow.com.ph</span>
              </div>
        </div>
        <!--end nav user profile-->
        <!--nav list-->
        <ons-list>
          <!--dashboard-->
          <ons-list-item ng-click="splitter.load('dashboard.html')" tappable>
            <ons-icon icon="fa-bar-chart"></ons-icon>&nbsp;
            Dashboard
          </ons-list-item>
          <!--end dashboard-->
          <!--myteam-->
          <ons-list-item ng-click="splitter.load('myteam.html')" tappable>
            <ons-icon icon="fa-group"></ons-icon>&nbsp;
            My Team
          </ons-list-item>
          <!--end myteam-->
          <!--notification-->
          <ons-list-item ng-click="splitter.load('notification.html')" tappable>
            <ons-icon icon="fa-bell"></ons-icon>&nbsp;
            Notification
          </ons-list-item>
          <!--endnotification-->
          <!--metric-->
          <ons-list-header>
            <ons-icon icon="fa-tachometer"></ons-icon>&nbsp;
            Metrics
          </ons-list-header>
          <ons-list modifier="inset">
            <ons-list-item ng-click="splitter.load('attendance.html')" tappable>
              Attendance
            </ons-list-item>
            <ons-list-item ng-click="splitter.load('revenue.html')" tappable>
              Revenue
            </ons-list-item>
            <ons-list-item ng-click="splitter.load('nps.html')" tappable>
              NPS
            </ons-list-item>
            <ons-list-item ng-click="splitter.load('about.html')" tappable>
              Dynamics
            </ons-list-item>
          </ons-list>
          <!--end metric-->
          <!--settings-->
          <ons-list-item ng-click="splitter.load('settings.html')" tappable>
            <ons-icon icon="fa-cog"></ons-icon>&nbsp;
            Settings
          </ons-list-item>
          <!--end notification-->
          <!--logout-->
          <ons-list-item ng-click="splitter.modalDisplay('Proceed to logout?', false, true)"  tappable>
            <ons-icon icon="fa-sign-out"></ons-icon>&nbsp;
            Logout
          </ons-list-item>
          <!--end logout-->
        </ons-list>
        <!--end nav list-->

      </ons-page>
    </ons-splitter-side>
    <ons-splitter-content page="dashboard.html"></ons-splitter-content>
  </ons-splitter>
  <!--end drawer  navigation-->
	<!--dashboard-->
	<ons-template id="dashboard.html" ng-controller="dashboardController">
		<ons-page>
			<ons-toolbar>
				<div class="left">
					<ons-toolbar-button ng-click="mySplitter.left.open()">
						<ons-icon icon="md-menu"></ons-icon>
					</ons-toolbar-button>
				</div>
				<div class="center">
				Dashboard
				</div>
			</ons-toolbar>
			<div style="text-align:center">
				<h1 style="margin: 30px 0">Today 86%</h1>
				<img style="width:90%;height:220px" ng-src="{{chart_type == 'bar' ? 'images/bar-graph.png' : 'images/pie-graph.png'}}"/>

				<div style="margin:10%;"">
					<ons-button style="width:44%;margin:5px">Attendance</ons-button>
					<ons-button style="width:44%;margin:5px">Revenue</ons-button>
					<ons-button style="width:44%;margin:5px">NPS</ons-button>
					<ons-button style="width:44%;margin:5px">Dynamics</ons-button>
				</div>
				

			</div>
			
			<!--speed dial-->
			<ons-speed-dial position="bottom right" direction="up">
				<ons-fab>
					<ons-icon icon="fa-ellipsis-v"></ons-icon>
				</ons-fab>
				<ons-speed-dial-item>
					<ons-icon icon="fa-pie-chart" ng-click="splitter.changeChart('pie')"></ons-icon>
				</ons-speed-dial-item>
				<ons-speed-dial-item>
					<ons-icon icon="fa-bar-chart" ng-click="splitter.changeChart('bar')"></ons-icon>
				</ons-speed-dial-item>
				<ons-speed-dial-item>
					<ons-icon icon="fa-calendar" ng-click="dateModal.show()"></ons-icon>
				</ons-speed-dial-item>
			</ons-speed-dial>
			<!--end speed dial-->


		</ons-page>
	</ons-template>
	<!--end dashboard-->

	<!--myteam-->
	<ons-template id="myteam.html" var="myTeam" >
	  <ons-page ng-controller="myTeamController">
	    <ons-toolbar>
	      <div class="left">
	        <ons-toolbar-button ng-click="mySplitter.left.open()">
	          <ons-icon icon="md-menu"></ons-icon>
	        </ons-toolbar-button>
	      </div>
	      <div class="center">
	        My Team
	      </div>
	    </ons-toolbar>

		
		<div>

			<!--members-->
			<ons-list-item  ng-repeat="member in team track by $index" tappable>

		      <div class="left">
		      	<ons-input type="checkbox" checked="checked"></ons-input>
		        <div ng-click="splitter.viewDetail('view-team', team[$index])" class="profile-image" style="background: {{member.theme}};margin:0 10px">{{member.name.substring(0, 1)}}</div>
		      </div>
		      <div class="center" ng-click="splitter.viewDetail('view-team',team[$index])">
		        <span class="list-item__title">{{member.name}}</span><span class="list-item__subtitle">{{member.email}}</span>
		      </div>
		    </ons-list-item>
		    <!--end members-->

		</div>
	    
	    <ons-fab position="bottom right" ng-click="splitter.load('add-team.html')">
	      <ons-icon icon="md-plus"></ons-icon>
	    </ons-fab>
	  </ons-page>
	</ons-template>
	<!--end myteam-->

	<!--notification-->
	<ons-template id="notification.html">
	  <ons-page ng-controller="notificationController">
	    <ons-toolbar>
	      <div class="left">
	        <ons-toolbar-button ng-click="mySplitter.left.open()">
	          <ons-icon icon="md-menu"></ons-icon>
	        </ons-toolbar-button>
	      </div>
	      <div class="center">
	        Notification
	      </div>
	    </ons-toolbar>
	    <div>

			<!--notification-->
		    <ons-list-item   ng-repeat="notif in notification track by $index" tappable>
	    	  <div class="left">
		      	<ons-input type="checkbox" id="check-1" checked="checked" ></ons-input>
		      </div>
		      <div class="center" ng-click="splitter.viewDetail('view-notif', notification[$index])">
		        <span class="list-item__title">{{notif.title}}</span><span class="list-item__subtitle">2017-05-23</span>
		      </div>
		    </ons-list-item>
		    <!--end notification-->

		</div>
		<ons-fab position="bottom right" ng-click="splitter.load('add-notif.html')">
	      <ons-icon icon="md-plus"></ons-icon>
	    </ons-fab>
	    <ons-fab position="bottom right" style="right: 80px;" ng-click="splitter.modalDisplay('Are you sure you want to remove selected items?', true)">
	      <ons-icon icon="fa-trash"></ons-icon>
	    </ons-fab>

	  </ons-page>
	</ons-template>
	<!--end notification-->

	<!--settings-->


	<ons-template id="settings.html" >
	  <ons-page>
	    <ons-toolbar>
	      <div class="left">
	        <ons-toolbar-button ng-click="mySplitter.left.open()">
	          <ons-icon icon="md-menu"></ons-icon>
	        </ons-toolbar-button>
	      </div>
	      <div class="center">
	        Settings
	      </div>
	    </ons-toolbar>

	    <style ng-if="theme == false">
			.page, .page__content, ons-list-header, ons-list-item {
			  background-color: #000 !important;
			  background: #000 !important;
			  color:#fff !important;
			}
		</style>

		
		<ons-list ng-init="theme = true; evenCooler = true; amazing = false">
		    <ons-list-header>Change Password</ons-list-header>
		    <ons-list-item>
		
		        <ons-input id="password" modifier="underbar" placeholder="Password" type="password" float ng-model="settings.password" style="width:100%"></ons-input>
		   
		    </ons-list-item>
		    <ons-list-item>
		  
		        <ons-input id="repassword" modifier="underbar" placeholder="Re-Password" type="password" float ng-model="settings.repassword" style="width:100%"></ons-input>
		  
		    </ons-list-item>
		  </ons-list>


	
		
		<div class="form">
		  <ons-list ng-init="cool = true; evenCooler = true; amazing = false" >
		    <ons-list-header>Preference</ons-list-header>
		    <ons-list-item >
		      <div class="center">
		        {{theme == true ? 'Day' : 'Night'}}
		      </div>
		      <div class="right">
		        <ons-switch ng-model="theme"></ons-switch>
		      </div>
		    </ons-list-item>
		    <ons-list-item>
		      <div class="center">
		        Notification: 
		      </div>
		      <div class="right">
		        <ons-switch ng-model="evenCooler"></ons-switch>
		      </div>
		    </ons-list-item>
		  </ons-list>
		</div>

		  <ons-fab position="bottom right" ng-click="splitter.modalDisplay('Settings saved successfully', false)">
	      <ons-icon icon="fa-floppy-o"></ons-icon>
	    </ons-fab>


	  </ons-page>
	</ons-template>
	<!--end settings-->



	<!--layouts-->

	<!----------------------------------------------------------------------------------team-------------------------------------------------------------------------------------->
	<!--add-team-->
	<ons-template id="add-team.html">
	  <ons-page>
	    <ons-toolbar>
	      <div class="left">
	        <ons-toolbar-button ng-click="splitter.load('myteam.html')">
	          <ons-icon icon="fa-angle-left"></ons-icon>
	        </ons-toolbar-button>
	      </div>
	      <div class="center">
	        Add Team
	      </div>
	    </ons-toolbar>

         <div style="margin: 10px;width:90%">
         	
     		<div class="form">
     			<ons-list-header>Input form</ons-list-header>
     			<ons-list-item>
					<ons-input id="username" modifier="underbar" placeholder="Firstname" float ng-model="page.fname" style="width:100%"></ons-input>
     			</ons-list-item>
     			<ons-list-item>
					<ons-input id="lname" modifier="underbar" placeholder="Lastname" float ng-model="page.lname" style="width:100%"></ons-input>
     			</ons-list-item>
     			<ons-list-item>
					<ons-input id="position" modifier="underbar" placeholder="Position" float ng-model="page.position" style="width:100%"></ons-input>
     			</ons-list-item>
     			<ons-list-item>
					<ons-input id="shift" modifier="underbar" placeholder="Shift" float ng-model="page.shift"  style="width:100%"></ons-input>
     			</ons-list-item>

     		</div>


		    <ons-fab position="bottom right" ng-click="splitter.modalDisplay('Saved member successfully', false)">
		      <ons-icon icon="fa-floppy-o"></ons-icon>
		    </ons-fab>
		  </div>

	  </ons-page>
	</ons-template>
	<!--end add-team-->

	<!--view-team-->
	<ons-template id="view-team.html">
	  <ons-page>
	    <ons-toolbar>
	      <div class="left">
	        <ons-toolbar-button ng-click="splitter.load('myteam.html')">
	          <ons-icon icon="fa-angle-left"></ons-icon>
	        </ons-toolbar-button>
	      </div>
	      <div class="center">
	        View Team
	      </div>
	    </ons-toolbar>

	    <div style="margin: 10px;width:90%">
         	
     		<div class="form">
     			<ons-list-item>
					<ons-input id="username" modifier="underbar" placeholder="Firstname" float ng-model="detail.name" style="width:100%"></ons-input>
     			</ons-list-item>
     			<ons-list-item>
					<ons-input id="lname" modifier="underbar" placeholder="Lastname" float ng-model="detail.email" style="width:100%"></ons-input>
     			</ons-list-item>
     			<ons-list-item>
					<ons-input id="position" modifier="underbar" placeholder="Position" ng-model="detail.position" float style="width:100%"></ons-input>
     			</ons-list-item>
     			<ons-list-item>
					<ons-input id="shift" modifier="underbar" placeholder="Shift"  float ng-model="detail.shift" style="width:100%"></ons-input>
     			</ons-list-item>

     		</div>


		    <ons-fab position="bottom right" ng-click="splitter.modalDisplay('Edit member successfully', false)">
		      <ons-icon icon="fa-floppy-o"></ons-icon>
		    </ons-fab>
		  </div>

	  </ons-page>
	</ons-template>
	<!--end view-team-->
	<!----------------------------------------------------------------------------------end team-------------------------------------------------------------------------------------->


		<!--layouts-->

	<!----------------------------------------------------------------------------------team-------------------------------------------------------------------------------------->
	<!--add-notif-->
	<ons-template id="add-notif.html">
	  <ons-page>
	    <ons-toolbar>
	      <div class="left">
	        <ons-toolbar-button ng-click="splitter.load('notification.html')">
	          <ons-icon icon="fa-angle-left"></ons-icon>
	        </ons-toolbar-button>
	      </div>
	      <div class="center">
	        Add Notification
	      </div>
	    </ons-toolbar>

         <div style="margin: 10px;width:90%">
         	
     		<div class="form">
     			<ons-list-header>Input form</ons-list-header>
     			<ons-list-item>
					<ons-input id="subject" modifier="underbar" placeholder="Subject" float ng-model="notification.subject" style="width:100%"></ons-input>
     			</ons-list-item>
     			<ons-list-item>
					<ons-input id="message" modifier="underbar" placeholder="Message" float ng-model="page.lname" style="width:100%"></ons-input>
     			</ons-list-item>

     		</div>


		    <ons-fab position="bottom right" ng-click="splitter.modalDisplay('Saved successfully', false)">
		      <ons-icon icon="fa-floppy-o"></ons-icon>
		    </ons-fab>
		  </div>

	  </ons-page>
	</ons-template>
	<!--end add-notif-->

	<!--view-notif-->
	<ons-template id="view-notif.html">
	  <ons-page>
	    <ons-toolbar>
	      <div class="left">
	        <ons-toolbar-button ng-click="splitter.load('notification.html')">
	          <ons-icon icon="fa-angle-left"></ons-icon>
	        </ons-toolbar-button>
	      </div>
	      <div class="center">
	        View Notification
	      </div>
	    </ons-toolbar>

	    <div style="margin: 10px;width:90%">
         	
     		<div class="form">
     			<ons-list-item>
					<!-- <ons-input id="username" modifier="underbar" placeholder="Title" float ng-model="detail.name" style="width:100%"></ons-input> -->
					<h3 style="margin-right:10px;"">{{detail.title}}</h3>
					<small style="font-size:14px">({{detail.date}})</small>
     			</ons-list-item>
     			<ons-list-item>
					<!-- <ons-input id="position" modifier="underbar" placeholder="Message" ng-model="detail.position" float style="width:100%"></ons-input> -->
					{{detail.message}}
     			</ons-list-item>

     		</div>

		  </div>

	  </ons-page>
	</ons-template>
	<!--end view-notif-->
	<!----------------------------------------------------------------------------------end team-------------------------------------------------------------------------------------->


	<!--dialog-->
	<ons-alert-dialog var="alertDialog">
		<div class="alert-dialog-content">
			
		</div>
		<div class="alert-dialog-footer">
			<button class="alert-dialog-button" ng-click="alertDialog.hide()">CLOSE</button>
			<button class="alert-btn-confirm alert-dialog-button" style="display:none" ng-click="alertDialog.hide()" >YES</button>
			<button class="alert-btn-confirm-refresh alert-dialog-button" style="display:none" onclick="location.reload();" >YES</button>
		</div>
	</ons-alert-dialog>
	<!--end dialog-->

	<!--saved successfully-->
	<ons-modal var="myModal" direction="up">
	<div >
		 <ons-card>
	    <div class="content" style="font-size: 18px;margin: 20px 0;text-align: center">
	      <div class="dialogMessage">
	      
	      </div>
	    </div>
	    <div style="text-align: center">
	    	<ons-button ng-click="myModal.hide()" >Close</ons-button>
	    </div>
	  </ons-card>
	</div>
	</ons-modal>
	<!--end saved successfully-->

	<!--saved successfully-->
	<ons-modal var="dateModal" direction="up">
		<div>
		    <img src="images/calendar.jpg" ng-click="dateModal.hide()">
		</div>
	</ons-modal>
	<!--end saved successfully-->


	<!--end layouts-->
</ons-page>