
<ons-page id="main.html">

 <!--drawer  navigation-->
  <ons-splitter  var="mySplitter" ng-controller="SplitterController as splitter">
    <ons-splitter-side side="left" width="80%" collapse swipeable>
      <ons-page>
        <!--nav user profile-->
        <div style="background:#1e1e1e;padding: 10% 10px 10px;height:10%;color:#fff;margin-bottom:10px">
          <div class="left" >
                <div class="profile-image" style="background: #673ab7;float:left;margin-right:10px">K</div>
              </div>
          <div class="center" style="margin-top: 10px;">
                <span class="list-item__title" style="display:block">Koo Vergara</span>
                <span class="list-item__subtitle" style="font-size:10px">kcvergara@straightarrow.com.ph</span>
              </div>
        </div>
        <!--end nav user profile-->
        <!--nav list-->
        <ons-list>
          <!--dashboard-->
          <ons-list-item ng-click="splitter.load('pages/dashboard.html')" tappable>
            <ons-icon icon="fa-bar-chart"></ons-icon>&nbsp;
            Dashboard
          </ons-list-item>
          <!--end dashboard-->
          <!--myteam-->
          <ons-list-item ng-click="splitter.load('pages/myteam.html')" tappable>
            <ons-icon icon="fa-group"></ons-icon>&nbsp;
            My Team
          </ons-list-item>
          <!--end myteam-->
          <!--notification-->
          <ons-list-item ng-click="splitter.load('pages/notification.html')" tappable>
            <ons-icon icon="fa-bell"></ons-icon>&nbsp;
            Notification
          </ons-list-item>
          <!--endnotification-->
          <!--metric-->
          <ons-list-header>
            <ons-icon icon="fa-tachometer"></ons-icon>&nbsp;
            Metrics
          </ons-list-header>
          <ons-list modifier="inset">
            <ons-list-item ng-click="splitter.load('pages/attendance.html')" tappable>
              Attendance
            </ons-list-item>
            <ons-list-item ng-click="splitter.load('revenue.html')" tappable>
              Revenue
            </ons-list-item>
            <ons-list-item ng-click="splitter.load('nps.html')" tappable>
              NPS
            </ons-list-item>
            <ons-list-item ng-click="splitter.load('about.html')" tappable>
              Dynamics
            </ons-list-item>
          </ons-list>
          <!--end metric-->
          <!--settings-->
          <ons-list-item ng-click="splitter.load('pages/settings.html')" tappable>
            <ons-icon icon="fa-cog"></ons-icon>&nbsp;
            Settings
          </ons-list-item>
          <!--end notification-->
          <!--logout-->
          <ons-list-item ng-click="splitter.modalDisplay('Proceed to logout?', false, true)"  tappable>
            <ons-icon icon="fa-sign-out"></ons-icon>&nbsp;
            Logout
          </ons-list-item>
          <!--end logout-->
        </ons-list>
        <!--end nav list-->

      </ons-page>
    </ons-splitter-side>
    <ons-splitter-content page="pages/dashboard.html"></ons-splitter-content>
  </ons-splitter>
  <!--end drawer  navigation-->
	

	<!--dialog-->
	<ons-alert-dialog var="alertDialog" direction="up">
		<div class="alert-dialog-content">
		</div>
		<div class="alert-dialog-footer">
			<button class="alert-dialog-button" ng-click="alertDialog.hide()">CLOSE</button>
			<button class="alert-btn-confirm alert-dialog-button" style="display:none" ng-click="alertDialog.hide()" >YES</button>
			<button class="alert-btn-confirm-refresh alert-dialog-button" style="display:none" onclick="location.reload();" >YES</button>
		</div>
	</ons-alert-dialog>
	<!--end dialog-->
</ons-page>