<!--attendance-->
<ons-page id="nps.html" ng-controller="npsController">
<ons-toolbar>
  <div class="left">
    <ons-toolbar-button ng-click="mySplitter.left.open()">
      <ons-icon icon="md-menu"></ons-icon>
    </ons-toolbar-button>
  </div>
  <div class="center">
    NPS
  </div>
</ons-toolbar>
<div>

	<!--attendance-->
	<ons-list-header>NPS Scrores</ons-list-header>
    <ons-list-item   ng-repeat="item in nps track by $index" tappable>
	  
      <div class="center" ng-click="splitter.viewDetail('view-revenue', revenue[$index])">
        <span class="list-item__title">{{item.month}}</span><span class="list-item__subtitle">Total team score : {{item.score}}</span>
      </div>
    </ons-list-item>
    <!--end attendance-->

</div>




</ons-page>

	<!--end attendance-->