<!--attendance-->
<ons-page id="attendance.html" ng-controller="revenueController">
<ons-toolbar>
  <div class="left">
    <ons-toolbar-button ng-click="mySplitter.left.open()">
      <ons-icon icon="md-menu"></ons-icon>
    </ons-toolbar-button>
  </div>
  <div class="center">
    Revenue
  </div>
</ons-toolbar>
<div>

	<!--attendance-->
	<ons-list-header>Task List</ons-list-header>
    <ons-list-item   ng-repeat="rev in revenue track by $index" tappable>
	  
      <div class="center" ng-click="splitter.viewDetail('view-revenue', revenue[$index])">
        <span class="list-item__title">{{rev.date}}</span><span class="list-item__subtitle">Logged hours : 8hrs</span>
      </div>
    </ons-list-item>
    <!--end attendance-->

</div>
<ons-fab position="bottom right" ng-click="revenueDialog.show()"><!--here-->
  <ons-icon icon="md-plus"></ons-icon>
</ons-fab>


<!--view-notif-->
	<ons-template id="view-revenue.html">
	  <ons-page>
	    <ons-toolbar>
	      <div class="left">
	        <ons-toolbar-button ng-click="splitter.load('pages/revenue.html')">
	          <ons-icon icon="fa-angle-left"></ons-icon>
	        </ons-toolbar-button>
	      </div>
	      <div class="center">
	        Task list for {{detail.date}}
	      </div>
	    </ons-toolbar>

	    <div style="margin: 10px;width:90%">
         	
     		<div class="form">
     			<!--task-->

     			<!--notification-->
			    <ons-list-item ng-repeat="task in detail.task track by $index"  tappable>
				  
			      <div class="center" >
			        <span class="list-item__title">{{task.title}}</span><span class="list-item__subtitle">{{task.status}}</span>
			      </div>
			      <div class="right">
			        {{task.hours}} hr(s)
			      </div>
			    </ons-list-item>
			    <!--end notification-->


     		</div>

		  </div>

	  </ons-page>
	</ons-template>
	<!--end view-notif-->


<!--attendance dialog-->
	<ons-alert-dialog var="revenueDialog" >
		<div class="alert-dialog-content">
		Log task
		</div>
		<!-- <div class="alert-dialog-content">
			Log task
			<ons-list>
			    <ons-list-item tappable>
			    	<ons-card>	
			    	<ons-select style="width:100%">
				    <option value="basic">Task list items</option>
				    <option value="basic">Task list items</option>
				    <option value="basic">Task list items</option>
				    <option value="basic">Task list items</option>
				    <option value="basic">Task list items</option>
				  </ons-select>
			    <ons-input  modifier="underbar" placeholder="hrs"></ons-input>

			    <ons-icon icon="fa-plus-circle"></ons-icon>
			    <ons-icon icon="fa-minus-circle"></ons-icon>
			    </ons-card>	
			    
			  </ons-list>
		</div>
 -->
			<ons-card>	
			    	<ons-select style="width:100%">
				    <option value="basic">Task list items</option>
				    <option value="basic">Task list items</option>
				    <option value="basic">Task list items</option>
				    <option value="basic">Task list items</option>
				    <option value="basic">Task list items</option>
				  </ons-select>
			    <ons-input  modifier="underbar" placeholder="hrs"></ons-input>

			    <ons-icon icon="fa-plus-circle"></ons-icon>
			    <ons-icon icon="fa-minus-circle"></ons-icon>
			    </ons-card>	

		<div class="alert-dialog-footer" style="margin: 10px 0 20px;text-align: right;">
		<ons-button ng-click="revenueDialog.hide()" >
                Submit
            </ons-button>
         </div>
	</ons-alert-dialog>
	<!--end dialog-->

</ons-page>

	<!--end attendance-->